<?xml version="1.0" ?>
<config>
	<modules>
		<Cp_Base>
			<version>0.1.0</version>
		</Cp_Base>
	</modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                	<modules>
                		<Cp_Base before="Mage_Adminhtml">Cp_Base_Adminhtml</Cp_Base>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>	
    <adminhtml>
        <layout>
        	<updates>
        		<cp_base>
        			<file>cp/base.xml</file>
        		</cp_base>
        	</updates>
        </layout>    	
    </adminhtml>
    <global>
    	<models>
    		<paypal>
    			<rewrite>
    				<config>Cp_Base_Model_Rewrite_Paypal_Config</config>
    			</rewrite>
    		</paypal>
    	</models>
    	<blocks>
    		<adminhtml>
    			<rewrite>
    				<page_menu>Cp_Base_Block_Adminhtml_Page_Menu</page_menu>
    			</rewrite>
    		</adminhtml>
    	</blocks>
    	<helpers>
    		<cp_base>
    			<class>Cp_Base_Helper</class>
    		</cp_base>
    	</helpers>
	</global>
</config>	    	
    	    