<?xml version="1.0" ?>
<config>
	<modules>
		<Cp_Dog>
			<version>3.1.0</version> <!-- Make this 1.0.0 to run install scripts -->
		</Cp_Dog>
	</modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                	<modules>
                		<Cp_Dog before="Mage_Adminhtml">Cp_Dog_Adminhtml</Cp_Dog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
    	<routers>
    	    <dog>
    	    	<use>standard</use>
    	    	<args>
    	    	     <frontName>dog</frontName>
    	    	     <module>Cp_Dog</module>
    	    	</args>
    	    </dog>
    	</routers>
    </frontend>
    <adminhtml>
        <layout>
        	<updates>
        		<dog>
        			<file>cp/dog.xml</file>
        		</dog>
        	</updates>
        </layout>    	
    </adminhtml>
    <global>
        <resources>
        	<dog_setup>
        		<setup>
        			<module>Cp_Dog</module>
        		</setup>
        	</dog_setup>
        	<dog_wrtie>
        		<connection>
        			<use>core_write</use>
        		</connection>
        	</dog_wrtie>
        	<dog_read>
        		<connection>
        			<use>core_read</use>
        		</connection>
        	</dog_read>
        </resources> 	
    	<models>
    		<dog>
    			<class>Cp_Dog_Model</class>
    			<resourceModel>dog_resource</resourceModel>
    		</dog>
	    	<dog_resource>
	            <class>Cp_Dog_Resource</class>	
	            <entities>
	            	<config>
	            		<table>dog_config</table>
	            	</config>
	            	<contact>
	            		<table>dog_contact</table>
	            	</contact>
	            	<contact_group>
	            		<table>dog_contact_group</table>
	            	</contact_group>
	            	<trigger>
	            		<table>dog_trigger</table>
	            	</trigger>
	            	<error>
	            		<table>dog_error</table>
	            	</error>
	            	<trigger_template>
	            		<table>dog_trigger_template</table>
	            	</trigger_template>
	            	<trigger_run>
	            		<table>dog_trigger_run</table>
	            	</trigger_run>
	            	<summary_profile>
	            		<table>dog_summary_profile</table>
	            	</summary_profile>
	            </entities>
	    	</dog_resource>    		
    	</models>
    	<blocks>
    		<dog>
    			<class>Cp_Dog_Block</class>
    		</dog>
    	</blocks>
    	<helpers>
    		<dog>
    			<class>Cp_Dog_Helper</class>
    		</dog>
    	</helpers>
		<template>
			<email>   
				<cp_dog_summary_profile>
					<label>Customer Paradigm WatchDog Daily Summary Email (Default From Locale)</label>
					<file>cp/dog/summary_profile.html</file>
					<type>html</type>
				</cp_dog_summary_profile>          	
				<cp_dog_triggerable_orderrate>
					<label>Customer Paradigm WatchDog Order Rate Trigger(Default From Locale)</label>
					<file>cp/dog/triggerable_orderrate.html</file>
					<type>html</type>
				</cp_dog_triggerable_orderrate>          	
				<cp_dog_triggerable_error>
					<label>Customer Paradigm WatchDog Error Trigger(Default From Locale)</label>
					<file>cp/dog/triggerable_error.html</file>
					<type>html</type>
				</cp_dog_triggerable_error>          	
				<cp_dog_triggerable_error_none>
					<label>Customer Paradigm WatchDog Error Trigger with no errors(Default From Locale)</label>
					<file>cp/dog/triggerable_error_none.html</file>
					<type>html</type>
				</cp_dog_triggerable_error_none>          	
			</email>
		</template>       	
    	<dog>
    		<summary>
    			<profile>
    				<reports>
	    				<totals>
	  						<class>dog/summary_profile_report_totals</class>
	    				</totals>
	    				<orders>
	  						<class>dog/summary_profile_report_orders</class>
	    				</orders>    	
	    				<items>
	  						<class>dog/summary_profile_report_items</class>
	    				</items>     
	    				<abandoned>
	  						<class>dog/summary_profile_report_abandoned</class>
	    				</abandoned>   
	    				 <coupons>
	  						<class>dog/summary_profile_report_coupons</class>
	    				</coupons>   
	    				<customers>
	    					<class>dog/summary_profile_report_customers</class>
	    				</customers>    				 
	    			</reports>
    			</profile>
    		</summary>
    	</dog>
    	<events>
    		<CP_DOG_RUN_CRON>
                <observers>
                    <dog_run_cron_default>
                        <class>dog/pseudocron</class>
                        <method>dispatch</method>
                    </dog_run_cron_default>
                </observers>
            </CP_DOG_RUN_CRON>
    		<CP_DOG_ERROR>
                <observers>
                    <dog_report_error>
                        <class>dog/observer</class>
                        <method>logError</method>
                    </dog_report_error>
                </observers>
            </CP_DOG_ERROR>               		
            <CP_DOG_ERROR_CLEAN>
            	<observers>
                    <dog_clean_error>
                        <class>dog/observer</class>
                        <method>cleanLogs</method>
                    </dog_clean_error>
                </observers>            	
            </CP_DOG_ERROR_CLEAN>
			<controller_front_init_before>
				<observers>
					<dog_toggle_logging>
                        <class>dog/observer</class>
                        <method>enableLogging</method>						
					</dog_toggle_logging>
				</observers>
			</controller_front_init_before>            
    	</events>
    </global>
    <crontab>
        <jobs>
            <cp_dog_dispatch>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>dog/pseudocron::dispatch</model></run>
            </cp_dog_dispatch>
        </jobs>
    </crontab>    
    <stores>
    	<default>
    		<trans_email>
    			<ident_dog>
    				<name>Magento Watchdog</name>
    				<email>chris@customerparadigm.com</email>
    			</ident_dog>
    		</trans_email>
    	</default>
    </stores>
</config>
